html{
    box-sizing: border-box;
}
*, *::before,*::after{
    box-sizing: inherit;
}
body{
    margin: 0;
    padding: 0;
}
ul{
    display: flex;
    justify-content: center;
    gap: 1rem;
    list-style: none;
    padding: 0;
    
}

main ul{
    justify-content: flex-start;
    overflow: hidden;
    gap: 0;
    scroll-behavior: smooth;
}
main li{
    color: white;
    background: red;
    width: 100vw;
    display: grid;
    font-size: 3rem;
    height: 50vh;
    place-items: center;
    flex-shrink: 0;
    transition: transform 0.5s ease-in-out;
    
    
}

main li:first-of-type{
    background-color: green;

}

main li:last-of-type{
    background: blue;

}
main li:target {
    transform: translateX(0);
}